extends dele.pug

block style 
        style 
            include ../static/contact.css

block content 

    .contact 

        h1 Contact Form

        form(action="" method="post" class="form") 
            input(type="text" ,name="name" placeholder="  Enter Your Name")
            input(type="text" ,name="gender" placeholder="  Enter Your Gender")
            input(type="email", name="email" placeholder="  Enter Your E-Mail Address")
            input(type="text", name="query" placeholder="  Order/Query")
            textarea(name="more", cols="20", rows="10" placeholder="More About You") 
            button.btn Soon