doctype html 
html 
    head 
        link(rel="shortcut icon", href="https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEglzeahCSRgQgEaUGMJ_fxuehTyHhgbJWVU1ZzDdIERTZ--aqNYXJ9DNKSLaYzT5Qvp4-iNw5cWWmkWh9MZyVn8i1j0LFjN1fkov-ktuWx_rnb7VKIevJwuLhsHShSi_c7HDKJV3bmrUnAtWtlPlfl1MsBvEmgBrAR4uL_clCGHzUAFcLtXPV_caHxm/s2888/Picsart_22-03-13_13-19-19-869-modified.png", type="image/x-icon")
        title Theneoalpha 
        <meta content="width=device-width, initial-scale=1" name="viewport" />
        block script 
            

        block style 

    body 
        .hero 
            nav 
                
                .navigation 
                    #menuToggle 
                        input(type="checkbox", name="")
                        span 
                        span 
                        span
                        ul#menu
                            li #[a(href="/") Home]  
                            li #[a(href="/skills") Skills]  
                     
                            li #[a(href="/contact") Contact]
                            li #[a(href="https://ollymods.blogspot.com/") Blog]
                .wrapper 
                    .typing-demo 
                      |  TheNeoAlpha
                
                ul.font.menu
                    li #[a(href="/") Home]  
                    li #[a(href="/skills") Skills]  
                     
                    li #[a(href="/contact") Contact]
                    li #[a(href="https://ollymods.blogspot.com/") Blog]
                .hambarger 
                    span 
                    span 
                    span     
                 
            block content 
            block footer 
                #footer 
                    |Copyright &copy 2022  #[a(href="/") Theneoalpha]  | All Right Reserved        