extends dele.pug

block style 
        style 
            include ../static/skills.css

block content 

        .services 
            h1 My Skills    
            .first
                .item 
                    img(src="https://images.pexels.com/photos/3888151/pexels-photo-3888151.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1", alt="")
                    h2 Full-Stack-webDeveloper 
                    p Recently I have completed web development including Front-End ,CSS Styling ,Javascript to Backend work And with that I design this beautiful portfolio website.
                .item 
                    img(src="https://images.pexels.com/photos/257904/pexels-photo-257904.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1", alt="")
                    h2 video-Editor 
                    p I have also learned Video -Editing Skill and with that I make Youtube Videos , Mini-VFX, B-Rolls,Motion Graphics.
                .item 
                    img(src="https://images.pexels.com/photos/2524145/pexels-photo-2524145.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1", alt="") 
                    h2 Cinematography 
                    p Cinematography is also the part of video-editing but I Love to take Cinematic Shots thats why I include it in different catergories
            .second

                .item 
                    img(src="https://images.pexels.com/photos/3783471/pexels-photo-3783471.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1", alt="")
                    h2 Voice-Over 
                    p Voice-Over is also my hobbies and to check  voiceovers do check my Youtube Channel.
                .item 
                    img(src="https://images.pexels.com/photos/3183132/pexels-photo-3183132.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1", alt="")
                    h2 Thumbnail Design 
                    p Hmm.. If You are a content creator than you can not left this part no matter at which Social Platform You are ,to display your skills in front of World grow your banners.
                .item 
                    img(src="https://images.pexels.com/photos/2449456/pexels-photo-2449456.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1", alt="")
                    h2  Motion Graphics    
                    p I Provide Motion graphic footages i,e, Youtube Intro ,Outro etc.                   