extends base.pug

block style 
        style 
            include ../static/skills.css

block content 

        .services 
            .first
                .item 
                    img(src="https://images.pexels.com/photos/3888151/pexels-photo-3888151.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1", alt="")
                    h2 Full-Stack-webDeveloper 
                    p Lorem ipsum dolor sit amet consectetur, adipisicing elit. Vitae error porro nisi ullam libero tempora quam dolorem itaque exercitationem! Magnam beatae eaque sit.
                .item 
                    img(src="https://images.pexels.com/photos/257904/pexels-photo-257904.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1", alt="")
                    h2 video-Editor 
                    p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptates distinctio recusandae atque odit qui voluptate ipsum labore necessitatibus deserunt maxime. Maxime, sapiente possimus!
                .item 
                    img(src="https://images.pexels.com/photos/2524145/pexels-photo-2524145.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1", alt="") 
                    h2 Cinematography 
                    p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Earum repudiandae accusamus impedit perferendis aliquid eum voluptate cumque placeat! Ad voluptate totam sint esse?  
            .second

                .item 
                    img(src="https://images.pexels.com/photos/3783471/pexels-photo-3783471.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1", alt="")
                    h2 Voice-Over 
                    p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptate deleniti, consectetur saepe eligendi molestias explicabo dicta aperiam? Magni minima molestias iure officia ipsa.
                .item 
                    img(src="https://images.pexels.com/photos/3183132/pexels-photo-3183132.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1", alt="")
                    h2 Thumbnail Design 
                    p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Consequuntur maxime rerum vel eius eligendi, nemo obcaecati adipisci temporibus laboriosam nulla eveniet illo cupiditate?
                .item 
                    img(src="https://images.pexels.com/photos/2449456/pexels-photo-2449456.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1", alt="")
                    h2 Stop Motion Graphics    
                    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Provident quisquam labore rerum delectus quos, perspiciatis possimus laudantium officiis nobis, repellat ipsam velit iusto.                   