

@import url('https://fonts.googleapis.com/css2?family=Wire+One&display=swap');
* {
    margin: 0;
    padding: 0;
    

}
.navigation{
    display: none;
}

.font {
    font-family: 'Architects Daughter', cursive;
}

.wrapper {
    height: 40px;
    /*This part is important for centering*/
    display: flex;
    align-items: center;
    justify-content: center;
    top: 6%;
    margin-left: 8%;
    margin-top: 48px;
    color: rgb(200, 194, 202);
}

.typing-demo {
    width: 300px;
    animation: typing 2s steps(12), blink .5s step-end infinite alternate;
    white-space: nowrap;
    overflow: hidden;
    border-right: 3px solid;
    /* font-family: 'Architects Daughter', cursive; */
    font-size: 3em;
}

@keyframes typing {
    from {
        width: 0
    }
}

@keyframes blink {
    50% {
        border-color: transparent
    }
}

.hero {
    position: relative;
    width: 100%;
    height: 100vh;
    background: purple;
}


.line1 {
    height: 2px;
    width: 16px;
    background: black;
    right: 62px;
    position: fixed;
    display: none;
}

.hambarger {
    display: none;
}

nav {
    display: flex;
    width: 100%;
    margin: auto;
    padding: 20px 0px;
    align-items: center;
    justify-content: space-between;
}

nav ul li {
    display: inline-block;
    list-style: none;
    margin: 12px 20px;

}

nav ul li a {
    text-decoration: none;
    color: #000;
    font-size: 1.4rem;
    font-weight: bold;
}

nav ul li a:hover {
    color: grey;

}

.detail {
    margin-left: 8%;
    margin-top: 8%;
}

.detail h1 {
    font-size: 50px;
    /* font-family: 'Baloo Bhaijaan 2', cursive; */
}
span{
    font-size: 50px;
}
span {
    color: orange;
    /* font-family: 'Baloo Bhaijaan 2', cursive; */
}

.detail h2 {
    color: #fff;
    font-size: 38px;
    opacity: 0.4;
    
  
    top: 150px;
}


.detail a {
    background: #212121;
    padding: 10px 18px;
    text-decoration: none;
    font-weight: bold;
    color: #fff;
    display: inline-block;
    margin: 30px 0;
    border-radius: 8px;
}
#footer{
    background-color: purple;
    width: 100%;
    height: 40px;
    color: white;
    text-align: center;
    padding-top: 8px;
    font-size: 20px;
    
}
#footer a{
    text-decoration: none;
    color: white;
}
.image {
    width: 45%;
    height: 80%;
    position: absolute;
    bottom: 0;
    right: 100px;
}

.image img {
    height: 100%;
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    transition: bottom 1s, left 1s;

}

.image img:hover.shape {

    bottom: 40px;


}

.image img:hover.boy {

    left: 45%;


}


.aboutimage {
    position: absolute;
    right: 50%;
    height: 425px;
    width: 871px;
    top: 17px;
    left: -269px;
}


.secondpage {
    position: relative;
    width: 100%;
    height: 100vh;
    background: #eff4fd;
    display: flex;
}

.shape2 {
    height: 380px;
    width: 35%;
    position: absolute;
}

.box {

    position: absolute;
    left: 60%;
    top: 30vh;
}

.thirdpage h2 {
    display: block;
    width: 150px;
    margin: auto;
}

.skillcontent {
    display: flex;
    position: absolute;
    top: 65px;


}


.skills p {
    margin-top: 34px;
}

.skills h3 {
    text-align: center;
    margin-top: 20px;
}

.videoimage img {
    position: relative;
    height: 130px;
    border-radius: 5600px;
}



.thirdpage {
    position: relative;
    width: 100%;
    height: 65vh;
    background: #eff4fd;
    margin: auto;

}

.skilllist {
    display: flex;
    flex-direction: column;
    height: 400px;
    position: relative;
    background: #eff4fd;
    top: 0px;
    margin-top: 45px;
    width: 50%;



}

.skilllist h2 {
    margin: 12px 125px;
    padding: 6px 12px;
    width: 800px;

    /* font-family: 'Baloo Bhaijaan 2', cursive; */

}

.defaultanimation1 {
    height: 8px;
    width: 400px;
    position: absolute;
    background: orange;
    top: 87px;
    right: 183px;
}

.defaultanimation2 {
    height: 8px;
    width: 400px;
    position: absolute;
    background: orange;
    top: 169px;
    right: 183px;
}

.defaultanimation3 {
    height: 8px;
    width: 400px;
    position: absolute;

    background: orange;
    top: 244px;
    right: 183px;
}

.animation1 {
    height: 8px;
    width: 234px;
    position: relative;
    background: #a5a0a0;
    animation-name: fillup1;
    animation-duration: 8s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;

    border-radius: 6px;

    margin: 179px 171px;

}

@keyframes fillup1 {
    from {
        width: 0px;
        background: #212121;
    }

    to {
        width: 300px;
        background: #212121;
    }
}

.animation2 {
    height: 8px;
    width: 234px;
    position: relative;
    background: #212121;
    /* border-radius: 6px; */
    animation-name: fillup2;
    animation-duration: 10s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    top: -75px;
    border-radius: 6px;

    margin: -30px 171px;

}

@keyframes fillup2 {
    from {
        width: 0px;
        background: #212121;
    }

    to {
        width: 200px;
        background: #212121;
    }
}


.animation3 {
    height: 8px;
    width: 234px;
    position: relative;
    background: #212121;
    /* border-radius: 6px; */
    animation-name: fillup3;
    animation-duration: 10s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    top: 74px;

    border-radius: 6px;
    margin: -82px 171px;

}

@keyframes fillup3 {
    from {
        width: 0px;
        background: #212121;
    }

    to {
        width: 222px;
        background: #212121;
    }
}


.myskillanimation {

    margin: -93px 7px;
}

.myskills {
    display: flex;
    background: #eff4fd;

    position: relative;
    height: 335px;


}

.videoimage img:hover {
    border: 3px solid orange;
}


.graphicimage img {
    height: 130px;
    border-radius: 5600px;
    display: block;
    margin: auto;
    border: 3px solid orange;
}

.webimage img {
    height: 130px;
    border-radius: 5600px;
    display: block;
    margin: auto;
    border: 3px solid orange;
}

.videoimage img {
    height: 130px;
    border-radius: 5600px;
    display: block;
    margin: auto;
    border: 3px solid orange;

}

.skills {

    width: 33%;

}



.skills p {
    width: 100%;
    left: 10%;
    text-align: center;
}


  



@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}



@media only screen and (max-width: 600px) {
  header nav {
    display: none;
  }
  

  #hamburger-icon {
    display: block;
  }

  
}









@media screen and (max-width: 1080px)  {
    
    .image img{
        height: 80%;
    }
    @keyframes fillup1 {
    from {
        width: 0px;
        background: #212121;
    }

    to {
        width: 169px;
        background: #212121;
    }}
    .defaultanimation1{
        width: 182px;
    }




@media screen and (max-width: 468px)  {
    
    .typing-demo{
        font-size: 1.8rem;
        width: 11.8rem;
    }
    
    
    .navigation{
        display: block;
    }  
      #menuToggle
  {
    display: block;
    position: relative;
    top: 31px;
    left: 23px;
    
    z-index: 1;
    
    -webkit-user-select: none;
    user-select: none;
  }
  
  #menuToggle a {
      text-decoration: none;
      color: orange;
      transition: color 0.3s ease;
      font-size: 0.9rem;
      padding: 0.7000000000000002rem;
  }
  
  #menuToggle a:hover
  {
    color: tomato;
  }
  
  
  #menuToggle input
  {
    display: block;
    width: 40px;
    height: 32px;
    position: absolute;
    top: -7px;
    left: -5px;
    
    cursor: pointer;
    
    opacity: 0; /* hide this */
    z-index: 2; /* and place it over the hamburger */
    
    -webkit-touch-callout: none;
  }
  
  /*
   * Just a quick hamburger
   */
  #menuToggle span
  {
    display: block;
    width: 33px;
    height: 4px;
    margin-bottom: 5px;
    position: relative;
    
    background: #cdcdcd;
    border-radius: 3px;
    
    z-index: 1;
    
    transform-origin: 4px 0px;
    
    transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
                background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
                opacity 0.55s ease;
  }
  
  #menuToggle span:first-child
  {
    transform-origin: 0% 0%;
  }
  
  #menuToggle span:nth-last-child(2)
  {
    transform-origin: 0% 100%;
  }
  
  /* 
   * Transform all the slices of hamburger
   * into a crossmark.
   */
  #menuToggle input:checked ~ span
  {
    opacity: 1;
    transform: rotate(45deg) translate(-2px, -1px);
    background: #232323;
  }
  
  /*
   * But let's hide the middle one.
   */
  #menuToggle input:checked ~ span:nth-last-child(3)
  {
    opacity: 0;
    transform: rotate(0deg) scale(0.2, 0.2);
  }
  
  /*
   * Ohyeah and the last one should go the other direction
   */
  #menuToggle input:checked ~ span:nth-last-child(2)
  {
    transform: rotate(-45deg) translate(0, -1px);
  }
  
  /*
   * Make this absolute positioned
   * at the top left of the screen
   */
  #menu
  {
    position: absolute;
    width: 488px;
    margin: -100px 0 0 -50px;
    padding: 50px;
    height: 23px;
    padding-top: 125px;
    
    background: #ededed;
    list-style-type: none;
    -webkit-font-smoothing: antialiased;
    /* to stop flickering of text in safari */
    
    transform-origin: 0% 0%;
    transform: translate(-100%, 0);
    
    transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
  }
  
  #menu li
  {
    
    font-size: 22px;
  }
  
  /*
   * And let's slide it in from the left
   */
  #menuToggle input:checked ~ ul
  {
    transform: none;
  }
  
  
  
  .navigation{
      left: 3rem;
      top: 6rem;
      
  }
  #menu{
      background: #05010514;
      display: flex;


      color: orange;
  }
  nav ul{
      display: none;
  }
  nav ul li{
    margin: 16px 11px;
  }
.myskills{
    top: 36vh;
}
.thirdpage{
    height: 150vh;
   
}
.hero{
    overflow-x: hidden;
}
.wrapper{
    position: absolute;
    margin-left: 15vh;
    margin-top: 0;
}.detail{
    margin-top: 15vh;
}
.image img {
    height: 45vh;
    width: 49vh;
}
.detail h2{
    font-size: 1.4rem;
}.detail h1 {
    font-size: 2.2rem;
    font-family: 'Baloo Bhaijaan 2', cursive;
}span {
    font-size: 2.2rem;
}
.image{
    right: 4rem;
    top: 20vh;
}
.myskills{
    height: 866px;
    flex-direction: column;
}
.skilllist h2{
    padding: 51px 12px;
    width: 100%;
    margin: 12px 0px;
    text-align: center;
}.skilllist{
    width: 100%;
}
.defaultanimation1{
    top: 32vh;
    right: 24vh;
    width: 29vh;
}
.defaultanimation3{
    top: 82vh;
    right: 26vh;
    width: 29vh;
}
.defaultanimation2{
    top: 57vh;
    right: 25vh;
    width: 29vh;
}
.animation1{
    top: -51.6vh;
    left: -9vh;
}.animation3 {
    top: -15vh;
    left: -9.5vh;
}.animation3{
    top: -14vh;
    left: -13.5vh;
}


@keyframes fillup2 {
    0% {
        width: 0px;
        background: #212121;
    }
    
    100% {
        width: 176px;
        background: #212121;
    }
}
@keyframes fillup3{
    0% {
        width: 0px;
        background: #212121;
    }
    
    100% {
        width: 140px;
        background: #212121;
    }
} @keyframes fillup1 {
    0% {
        width: 0px;
        background: #212121;
    }
    
    100% {
        width: 148px;
        background: #212121;
    }
}
.skillcontent{
    flex-direction: column;
}
.skills{
    width: 80%;
    margin: auto;
}
#footer{
   
    position: absolute;
    font-size: 0.9rem;
}

  }} @media only screen and (max-width: 415px) and (min-width: 400px) {
      
      .hero{
        width: 53vh;
        height: 89vh;
        overflow-x: hidden;
      }
      .thirdpage {
        height: 116vh;
    }
    #footer {
        top: 262vh;}
  }
  @media  screen and (max-width:420px)   {
     
      
    .thirdpage {
        height: 138vh;
    }
       .defaultanimation1 {
    top: 24vh;
    right: 9vh;
    width: 29vh;
}.animation1 {
    top: -38.6vh;
    left: -13vh;
}.defaultanimation2 {
    top: 44vh;
    right: 9vh;
}.animation2 {
    top: -37vh;
    left: -14vh;
}.defaultanimation3 {
    top: 59vh;
    right: 10vh;
    width: 29vh;
}


  }
  
  @media  screen and (max-width:417px) and (min-width:410px){
      
.skilllist {
    height: 404px;
}
    .defaultanimation1 {
        top: 24vh;
        right: 12vh;}
        .animation1 {
            top: -35.6vh;
            left: -8vh;
        }.defaultanimation2 {
            top: 40vh;
            right: 12vh;
        }.animation2{
            left: -8vh;
        }.defaultanimation3{
            top: 56vh;
    right: 11vh;}
    .animation3 {
        top: -13vh;
        left: -7.5vh;
    }
        }

        @media  screen and (max-width:413px){
            #menu{
                width: 422;
            }
            .skilllist {
                height: 416px;
            }
          }
  @media  screen and (max-width:376px) and (min-width: 365px){
     
    .defaultanimation1{
    top: 29vh;
    right: 13vh;
} .skilllist {
    height: 373px;
}.thirdpage {
    height: 144vh;
}
.animation1{
    top: -50.6vh;
}.defaultanimation2 {
    top: 52vh;
    right: 13vh;
}.animation2 {
    top: -52vh;
    left: -13vh;
}.defaultanimation3{
    top: 77vh;
    right: 14vh;
}.animation3 {
    top: -15vh;}
  }
  @media  screen and (max-width:362px){
    .animation1 {
        top: -47.6vh;}
        .animation2 {
            top: -49vh;
            left: -14vh;
        }.defaultanimation3 {
            top: 69vh;
            right: 10vh;
            width: 29vh;
        }.skilllist {
            height: 400px;
        }#menuToggle a {
            padding: -0.3000000000000007rem;
        }
  }  @media  screen and (max-width:394px) and (min-width:390px){
    .skilllist {
        height: 400px;
    }
  }